.card-img img{
    width: 50%;
}
.slider-area {
    height: 500px;
}
.slider-area img {
    width: 100%;
}
.all-card-img{
    padding-top: 10px;
}
.all-card-img img{
    height: 300px;
    width: 100%;
    padding-top: 10px;
}
.services-card{
     background: #f3f3f3;
}
.footer-bg{
     background: -webkit-linear-gradient(315deg,#505050 25%,#293c9f);
}